{% load crispy_forms_tags %}

{% block content %}
<form hx-post="{% url 'main:subscribe' %}" hx-swap="outerHTML" class="d-flex flex-row">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-bd-primary" type="submit">Отправить</button>
</form>
{% endblock content %}

{% comment %} {% block content %}
<form method="POST" id="subscribe" action="{% url 'main:subscribe' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-bd-primary" type="submit">Отправить</button>
</form>
{% endblock content %} {% endcomment %}
