<div class="col-md-12 mt-3 left min-vh-100">
    {% for post in post_list %}
    <div class="card mb-4">
        <div class="card-body">
            <p>Категория: <a href="{% url 'posts:category_detail' post.category.slug %}">{{ post.category }}</a></p>
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text text-muted h6">{{ post.created_at|date:"d.m.Y" }} </p>
            <p class="card-text">{{ post.intro|safe }}</p>
            <a href="{% url 'posts:post_detail' post.category.slug post.slug  %}" class="btn btn-bd-primary my-2 my-sm-0">Читать
                &rarr;</a>
        </div>
    </div>
    {% endfor %}
</div>
