{% load crispy_forms_tags %}
{% load static %}
<div class="row">
    <div class="col">
        <div class="d-flex flex-start pt-2">
            {% if user.image %}
                <img src="{{ user.image.url }}"
                    alt="Аватар пользователя" class="rounded-circle shadow-1-strong me-3"
                    width="35"
                    height="35">
            {% else %}
                <img src="{% static "vendor/images/baseavatar.jpg" %}"
                    alt="Аватар пользователя" class="rounded-circle shadow-1-strong me-3"
                    width="35"
                    height="35">
            {% endif %}
            <div class="flex-grow-1 flex-shrink-1">
                <div id="comment{{ comment.pk }}">
                    <div class="d-flex justify-content-between align-items-center">
                    <p class="mb-1">
                        {{ comment.author }} <span class="small">- {{ comment.created_on }}</span>
                    </p>
                    </div>
                    <p class="small mb-0">
                        {{ comment.content }}
                    </p>
                    {% if user.is_authenticated %}
                    <div class="small d-flex justify-content-start mt-3">
                        {% if request.user == comment.author %}
                            <span class="mx-3"
                                style="cursor: pointer; color:var(--bs-body-color);"
                                hx-delete="{% url 'posts:comment_detail' comment.pk %}"
                                hx-target="#comment{{ comment.pk }}"
                                hx-confirm="Are you sure you wish to delete?">
                                    <i class="fa fa-trash" data-toggle="tooltip" data-placement="top"
                                    title="Удалить комментарий"></i>
                            </span>
                        {% else %}
                            {% include './comment-like.html' %}
                            <button class="reply-btn remove-default-btn p-0 border-0 bg-transparent"
                                    data-toggle="tooltip"
                                    data-placement="top" title="Ответить">
                                <i class="far fa-comment-dots" onclick="commentReplyToggle('{{ comment.pk }}')"></i>
                            </button>
                        {% endif %}
                    </div>
                    <div class="row mt-3 mb-5 d-none" id="{{ comment.pk }}">
                        {% include 'posts/comments/comment-reply-form.html' %}
                        {% comment %} <form hx-post="{% url 'posts:comment_reply_form' comment.pk %}" hx-target="this" hx-swap="outerHTML" class="replyform flex justify-between">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button class="btn btn-bd-primary my-2 my-sm-0" type="submit">Отправить</button>
                        </form> {% endcomment %}
                        {% comment %} <form id="reply-form" method="POST" action=".">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <div class="control">
                                <button type="submit" class="btn btn-bd-primary my-2 my-sm-0">Отправить</button>
                            </div>
                        </form> {% endcomment %}
                    </div>
                    <hr>
                    {% endif %}
                </div>
                {% include "posts/comments/comment-replies-container.html" %}
                {% comment %} {% for reply in comment.replies.all %}
                    {% include './reply-detail.html' %}
                {% endfor %} {% endcomment %}

                {% comment %} <div class="d-flex flex-start mt-4">
                    <a class="me-3" href="#">
                    <img class="rounded-circle shadow-1-strong"
                        src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(11).webp" alt="avatar"
                        width="65" height="65" />
                    </a>
                    <div class="flex-grow-1 flex-shrink-1">
                        <div>
                            <div class="d-flex justify-content-between align-items-center">
                            <p class="mb-1">
                                Simona Disa <span class="small">- 3 hours ago</span>
                            </p>
                            </div>
                            <p class="small mb-0">
                            letters, as opposed to using 'Content here, content here',
                            making it look like readable English.
                            </p>
                        </div>
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
</div>
{% comment %} <comment class="row">
    <div class="col">
      <div class="d-flex flex-start">
        <div class="flex-grow-1 flex-shrink-1">
          <div id="comment{{ comment.pk }}">
            <div class="d-flex justify-content-between align-items-center">
              <p class="small mb-2">
                {{ comment.author }} <span class="small">- {{ comment.created_on }}</span>
              </p>
            </div>
            <p class="mb-0">
                {{ comment.content }}
            </p>
            {% if user.is_authenticated %}
            <div class="small d-flex justify-content-start mt-3">
                {% if request.user == comment.author %}
                    <span class="mx-3"
                        style="cursor: pointer; color:var(--bs-body-color);"
                        hx-delete="{% url 'posts:comment_detail' post.category.slug post.slug comment.pk %}"
                        hx-target="#comment{{ comment.pk }}"
                        hx-confirm="Are you sure you wish to delete?">
                            <i class="fa fa-trash" data-toggle="tooltip" data-placement="top"
                            title="Удалить комментарий"></i>
                    </span>
                {% else %}
                    {% include './comment-like.html' %}
                    <button class="reply-btn remove-default-btn p-0 border-0 bg-transparent"
                            data-toggle="tooltip"
                            data-placement="top" title="Ответить">
                        <i class="far fa-comment-dots" onclick="commentReplyToggle('{{ comment.pk }}')"></i>
                    </button>
                {% endif %}
              </div>
              <div class="row mt-3 mb-5 reply-content d-none" id="{{ comment.pk }}">
                  <form id="reply-form" method="POST" action=".">
                      {% csrf_token %}
                      <input type="hidden" name="comment_id" value="{{ comment.id }}">
                      {{ form | crispy }}
                      <div class="control">
                          <button type="submit" class="btn btn-bd-primary my-2 my-sm-0">Отправить</button>
                      </div>
                  </form>
              </div>
              <hr>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
</comment> {% endcomment %}


{% comment %} <div x-show="repliesOpen" x-cloak class="basis-full mt-3 pl-8 grid grid-cols-1"> {% endcomment %}

    {% comment %} {% for reply in comment.replies.all %}
        {% include './reply-detail.html' %}
    {% endfor %} {% endcomment %}

    {% comment %} {% if user.is_authenticated %} {% endcomment %}
    {% comment %} <form class="replyform flex justify-between" autocomplete="off"
    hx-post="{% url 'posts:reply_detail'  post.category.slug post.slug comment.id %}"
    hx-target="this"
    hx-swap="outerHTML" >
        {% csrf_token %}
        {{ form }}
        <button class="block" type="submit">Submit</button>
    </form> {% endcomment %}
    {% comment %} {% endif %} {% endcomment %}
{% comment %} </div> {% endcomment %}
{% comment %} <div class="row mt-3 mb-5 reply-content d-none" id="{{ comment.pk }}">
    <form id="reply-form" method="POST" action=".">
        {% csrf_token %}
        <input type="hidden" name="comment_id" value="{{ comment.id }}">
        {{ form | crispy }}
        <div class="control">
            <button type="submit" class="btn btn-bd-primary my-2 my-sm-0">Отправить</button>
        </div>
    </form>
</div> {% endcomment %}
