{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Восстановление пароля завершено{% endblock %}

{% block content %}
<div class="col-md-8 mx-auto mt-4 vh-100">
    <h1>Восстановление пароля завершено</h1>
    <hr>
    <div class="alert alert-primary" role="alert">
        Ваш пароль был сохранен. Теперь вы можете войти.
    </div>
    <div class="pt-3 mb-3">
        <div class="media-content"><a href="{% url 'login' %}" class="ml-2"> Вход</a></div>
    </div>
</div>
{% endblock content %}